@charset "UTF-8" ;
/* Estilo para tela */

*{
    padding: 0px;
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header {
    background-color: aqua;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style: none;
    background-color: darkseagreen;
}

menu li{
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: darkcyan;
}

article {
    display: block;
    width: 550px;
    margin: auto;
}